.footer{
    width: 95vw;
    .delivery{
        height: 25vh;
        display: flex;
        .Brand{
            .header{
                display: flex;
                h3{
                    margin-left: 20px;
                    color: $col2;
                    
                    span{
                        color: $col3;
                    }
                }
            }
            p{
                margin-top:30px;
                width: 390px;
                height: 77px;
                font-size: 13px;
                color: $col15;
            }
            .links{
                display: flex;
                gap: 20px;
                button{
                    background-color:transparent;
                    border: 0;
                    color: $col18;
                    transition: 0.5s;

                    &:hover{
                        color: $col3;
                        transform:rotate(2turn) ;
                    }
                    i{
                        transition: 0.5s;
                        color: $col18;
                    }
                    :hover{
                        color: $col3;
                        transform:rotate(2turn) ;
                    }
                }
            }
        }
        .informa{
            width: 54%;
            display: flex;
            position: relative;
            left: 16%;
           .col{
            h3{
                font-size: 14px;
                color:$col2;
            }
            .box{
                display: grid;
                margin-top: 32px;
                gap: 8px;
                a{
                    font-size: 13px;
                    color:$col2;
                    &:hover{
                        color: $col3;
                    }
                }
            }
           } 
        }

    }
    .iceo{
        margin-top: 55px;
        div{
            background-color:$col16;
            width: 100%;
            height: 1px;
        }
        p{
            height: 8vh;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $col17;
        }
    }
}

@media (max-width:768px) {
    .footer{
        
        .delivery{
            .Brand{
                margin:auto;
                .header{
                    
                    h3{
                        margin-left: 40px;
                    }
                }
                p{
                    
                    width: 300px;
                    height: 97px;
                    font-size: 16px;
                }
                .links{
                    button{

                        margin: auto;
                    }
                }
            }
            .informa{
                display: none;
            }
        }  
    }
}

@media (min-width:768px) and (max-width:992px) {
    .footer{
        .delivery{
            height: 50vh;
            display: grid;
            .Brand{
                width: 50vw;
                transform: translate(60px, 0px);
                margin-bottom: 30px;
                .header{

                    display: flex;
                    h3{
                        margin-left: 20px;
                        color: $col2;
                        
                        span{
                            color: $col3;
                        }
                    }
                }
                .links{
                    transform: translate(0, 200px);
                    justify-content: center;
                }
            }
            .informa{

                width:100%;
                transform: translate(-55px, -50px);
            }
    
        }
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .footer{
        .delivery{
            .Brand{
                p{
                    width: 340px;
                }
            }
            .informa{
                left: 80px;
            }
        }
    }

}