.cloth{
    height: 85vh;
    background-color:$col1;
    cursor: pointer;
    .container{
        
        header{
            height: 15vh;
            display: flex;
            justify-content: space-between;
            h2{
                margin-left:35px;
                color: $col2;
            }
            button{
                width: 143px;
                height: 49px;
                margin-right: 35px;
                color: $col2;
                background-color: $col1;
                border:2px solid $col6;
                border-radius: 50px;
                &:hover{
                    color: $col3;
                    background-color: $col2;
                }
            }
        }
        swiper-container{
            swiper-slide{
                flex-shrink: 1;
                margin-left:0;
                transform: translate(-340px, 0);
                .descon{
                    width: 49px;
                    height: 30px;
                    border-radius: 40px;
                    background-color: $col14;
                    color: $col1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: translate(80px, 25px);
                    -webkit-transform: translate(80px, 25px);
                    -moz-transform: translate(80px, 25px);
                    -ms-transform: translate(80px, 25px);
                    -o-transform: translate(80px, 25px);
                    z-index: 1;
                }
                .col{
                    height: 70vh;
                    margin:0;
                    // display: flex;
                    // justify-content: center;
                    .box{
                        height: 385px;
                        width: 271px;
                        .pic1{
                            margin-top: -30px;
                            z-index: 0;
                        }
                        .box-body{
                            height: 51px;
                            
                            h3{
                                font-size: 16px;
                                margin-top: 30px;
                                height: 21px;
                                color: $col2;
                            }
                            h2{
                                font-size: 20px;
                                color: $col2;
                                margin-top: 10px;
                            }
                            .active{
                                color: $col14;
                            }
                        }
                        &:nth-child(1){
                                margin-left: 3vw;
                        }
                    }
                }
            }

        }
        
    }
}
@media (max-width:768px) {
    .cloth{
        .container{
            header{
                height: 20vh;
                align-items: center;
                h2{
                    height: 56px;
                    width: 145px;
                    margin-left: 40px;
                    color: $col2;
                    display: flex;
                    align-items: center;
                }
                button{
                    margin-right: -10px;
                    border:0;
                    &:hover{
                        color:$col3 ;
                    }
                }
            }
            swiper-container{
                

                swiper-slide{
                    height: 70vh;
                    width: 100%;
                    margin: 0px;
                    margin-right: 100px;
                    transform: translate(-130px, 0);
                    .col{

                            .box{
                                img{
                                }
                                .box-body{
                                    h3{
                                        margin-left: 20px;
                                    }
                                    h2{
                                        margin-left: 20px;
                                        
                                    }
                                    .active{
                                        color: $col13;
                                    }
                                }
                                &:nth-child(1){
                                    margin-left:20px;
                                }
                            }
                    }
                    .descon{
                        transform: translate(55px, 25px);
                    }
                }
            }
        }
    }
}

@media (min-width:768px) and (max-width:992px) {
    .cloth{
        width: 100%;
        .container{
            width: 100%;
            swiper-container{
                swiper-slide:nth-child(1){
                    margin-left: 24vw;
                    // transform: translate(-155px, 0);
                    .descon{
                        transform: translate(60px, 25px);
                    }
                }
            }
        }
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .cloth{
        .container{
            swiper-container{
                swiper-slide:nth-child(1){
                    margin-left: 11vw;
                }
            }
        }
    }
}

@media (max-width:1200px) {
    .cloth .container header {
        align-items: center;
    }
    .cloth .container swiper-container swiper-slide .col .box .box-body:nth-child(1) {
        margin-left: 25px;
    }
}

